html, body {
}

body{
    background-color: #34B532;
}

header {
  width: 100%;
  vertical-align: middle;
  background-color: #50D84D;
  padding: 50px;
}

.row {
  height: 8vh;
}

#logo {
  float: right;
}

.headerButton {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  width: 100%;
  height: 100%;
}