header{
    font-size: 0.6em;
}

body
{
}
div {
	font-size: 2.0em;
	font-weight: 500;
}

#title{
	width : 40%;
	font-size: 2.3em;
	margin : auto;
	background : #0D73D8;
	border-radius : 10px;
}
#vege{
	color : #57FB04;
}
#position{
	color : blue
}
#content{
    width : 65%;
	margin : auto;
	margin-top:20px;
	float : top;
	border-collapse : collapse;
	border : 1px solid black;

}
#contentmeal{
	width : 18%;
	background : #B5FD69;
	border-collapse : collapse;
	border : 1px solid black;
}
#contentpeople{
	width : 10%;
	background : #B5FD69;
	border-collapse : collapse;
	border : 1px solid black;
}
#contentmore{
	width : 7%;
	background : #B5FD69;
	border-collapse : collapse;
	border : 1px solid black;
}
#contentintext{
	background : #B5FD69;
	border-collapse : collapse;
	border : 1px solid black;
}
#contentc{
	background : #B5FD69;
	border-collapse : collapse;
	border : 1px solid black;
}
#contenttitle{
	background : #58D536;
	border-collapse : collapse;
	border : 1px solid black;
	border-bottom : 2px solid black;
}
#bu{
	text-align : center;
}
button {
  margin-top : 20px;
  width : 30%;
  font-size: 1.5em;
  font-weight: 600;
  background-color: #B8EA91;
  border-radius: 50px;
  border-width: 2px;
  border-color: black;
  height: 100%;
}
