
html, body {

  background-color: hsl(105, 40%, 67%);
}

header{
    font-size: 5em;
    background-color: hsl(105, 60%, 67%);
}

.schedule{
    margin-left: 2%;
}

.dinnerNames{
    font-size: 4em;
    padding: :15px;
    font-weight: bold;

}

.row {
  height: 6vh;
}
.title{
    height: 2vh;
}

.schedule{
    height: 100%;
    text-align: center;
}

.day{
    font-weight: bold;
    font-size: 4em;
    text-align: center;
}

.rectangle{
    height: 100%;
}

.rightRect{
    background-color: hsl(68, 72%, 48%);
}

.leftRect{
    background-color: hsl(108, 71%, 41%);
}
.infoRow{
    height: 4.5vh;
    font-size: 2em;
    font-weight: 600;
    border: none;
    text-align: left;
}
.paddingRow{
    height: 4vh;
}
.info{
  height: 100%;
    background-color: hsl(184, 48%, 44%);
}

button {
  font-size: 2.3em;
  font-weight: 600;
  background-color: hsl(173, 81%, 42%);
  border-radius: 50px;
  border-width: 5px;
  border-color: black;
  color: #0;
  top: 10%;
  width: 70%;
  height: 75%;
  box-shadow: 0px 10px 8px black;
}

button.selected {
  background-image: none;
  outline: none;
  box-shadow: none;
  transform: translateY(10px);
}

.chatButton {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  float: right;
  padding-bottom: 5%;
  background-color: black;
  border-radius: 50px;
  border-width: 5px;
  border-color: black;
  color: #fff;
  top: 10%;
  left:80%;
  margin-right: 10%;
  width: 30%;
  height: 80%;
  box-shadow: 0px 14px 10px black;
}

.topRect{
  border-top-left-radius : 32px;
  border-top-right-radius : 32px;
}

.botRect{
  border-bottom-right-radius : 32px;
  border-bottom-left-radius : 32px;
}

