h3 {
	font-size: 1.8em;
	font-weight: 700;
}

div {
	font-size: 1.5em;
	font-weight: 700;
}

.interface{
	background-color: #B8EA91;
	font-weight: 600;
	border-radius: 35px;
	font-size: 1.2em;
	border-style: none;
	width: 100%;
}

.interface[type="number"] {
  width: 40%;
  text-align: center;
}

button {
  font-size: 1.5em;
  font-weight: 600;
  background-color: #B8EA91;
  color : gray;
  border-radius: 40px;
  border-width: 5px;
  border-color: black;
  height: 100%;
  width: 40%;
  box-shadow: 0px 14px 10px black;
}

button.week {
  font-size: 0.8em;
  font-weight: 600;
  background-color: #B8EA91;
  color : gray;
  border-radius: 40px;
  border-width: 5px;
  border-color: black;
  height: 100%;
  width: 100%;
  box-shadow: 0px 14px 10px black;
}

button.time {
  font-size: 0.9em;
  font-weight: 600;
  background-color: #B8EA91;
  color : gray;
  border-radius: 40px;
  border-width: 5px;
  border-color: black;
  height: 100%;
  width: 100%;
  box-shadow: 0px 14px 10px black;
}

button.selected {
  background-image: none;
  outline: none;
  color: black;
  box-shadow: none;
  transform: translateY(10px);
}

.row {
  height: 6vh;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.day {
	width: 8vh;
}

#next{
	color : black;
}