body
{
	
}
input{
	width : 180px;
	background-color: #B8EA91;
	border-radius: 12px;
}
button{
	color : gray;
	background-color: #B8EA91;
	border-radius: 12px;
}
.week{
	width : 41px;
}
.time{
	width : 85px;
}
#next{
	color : black;	
}
