body
{
}
div {
	font-size: 1em;
	font-weight: 500;
}

#title{
	font-size: 1.2em;
	margin : auto;
	background : #0D73D8;
	border-radius : 10px;
}
#vege{
	color : #57FB04;
}
#position{
	color : blue
}
#content{
	margin : auto;
	margin-top:5px;
	float : top;
	width : 250px;
	border-collapse : collapse;
	border : 1px solid black;

}
#contentmeal{
	width : 50px;
	background : #B5FD69;
	border-collapse : collapse;
	border : 1px solid black;
}
#contentpeople{
	width : 30px;
	background : #B5FD69;
	border-collapse : collapse;
	border : 1px solid black;
}
#contentmore{
	width : 20px;
	background : #B5FD69;
	border-collapse : collapse;
	border : 1px solid black;
}
#contentintext{
	background : #B5FD69;
	border-collapse : collapse;
	border : 1px solid black;
}
#contentc{
	background : #B5FD69;
	border-collapse : collapse;
	border : 1px solid black;
}
#contenttitle{
	background : #58D536;
	border-collapse : collapse;
	border : 1px solid black;
	border-bottom : 2px solid black;
}
#bu{
	text-align : center;
}
button {
	margin-top : 5px;
  font-size: 1.5em;
  font-weight: 600;
  background-color: #B8EA91;
  border-radius: 50px;
  border-width: 2px;
  border-color: black;
  height: 100%;
}
