body
{
	min-height: 100%;
    width: 100%;
    background-size: auto;
    background: url("background.png") no-repeat top left;
}
#findgroup{
	position : absolute;
	left : 100px;
	top : 200px;
}
#checkschedule{
	position : absolute;
	left : 100px;
	top : 300px;
}
#editprofile{
	position : absolute;
	left : 100px;
	top : 400px;
}
button
{
	background : #B5FD69;
	font-size : 24px;
	font-weight : bold;
	width: 160px;
	height:60px;
	border-radius : 10px
}