#Android{
    position: fixed;
    width: 360px;
    height: 640px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
}

#Password{
    position: fixed;
    width: 210px;
    height: 81px;
    left: 77px;
    top: 369px;
}

#pass{

    position: fixed;
    width: 112px;
    height: 29px;
    left: 90px;
    top: 369px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

#rectangle {
  position: fixed;
    width: 210px;
    height: 52px;
    left: 77px;
    top: 398px;

    background: #B8EA91;
    border-radius: 10px;
}


#frame{
    position: fixed;
    width: 360px;
    height: 640px;
}


/////////////////

#frame{
    position: fixed;
    width: 360px;
    height: 640px;
}

#Android{
    position: absolute;
    width: 360px;
    height: 640px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
}

#LettuceText{
    position: absolute;
    width: 287px;
    height: 82px;
    left: 40px;
    top: 62px;

    font-family: SirinStencil;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;

    color: #258D2F;
}

#GoEatText{
    position: absolute;
    width: 113px;
    height: 53px;
    left: 202px;
    top: 26px;

    font-family: SirinStencil;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;/* identical to box height */

    color: #258D2F;
}

#leaf{
    position: absolute;
    width: 184px;
    height: 184px;
    left: 0px;
    top: 11px;

    background: url(leaf.png);
}
