/* Frame */

position: relative;
width: 360px;
height: 640px;



/* Android */

position: absolute;
width: 360px;
height: 640px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Group 2 */

position: absolute;
width: 360px;
height: 599px;
left: 0px;
top: 102px;



/* Rectangle */

position: absolute;
width: 360px;
height: 575.5px;
left: 0px;
top: 102px;

background: #50D84D;


/* Rectangle */

position: absolute;
width: 360px;
height: 479.58px;
left: 0px;
top: 221.42px;

background: #34B532;


/* Button_signup */

position: absolute;
width: 156px;
height: 68px;
left: 105px;
top: 479px;



/* Rectangle */

position: absolute;
width: 156px;
height: 68px;
left: 105px;
top: 479px;

background: #B8EA91;
box-shadow: 0px 4px 10px #000000;
border-radius: 20px;


/* Login */

position: absolute;
width: 89px;
height: 43px;
left: 139px;
top: 491px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
/* identical to box height */

color: #000000;



/* Button_login */

position: absolute;
width: 156px;
height: 68px;
left: 105px;
top: 558px;



/* Rectangle */

position: absolute;
width: 156px;
height: 68px;
left: 105px;
top: 558px;

background: #B8EA91;
box-shadow: 0px 4px 10px #000000;
border-radius: 20px;


/* Signup */

position: absolute;
width: 111px;
height: 43px;
left: 127px;
top: 570px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
/* identical to box height */

color: #000000;



/* leaf */

position: absolute;
width: 184px;
height: 184px;
left: 0px;
top: 11px;

background: url(leaf.png);


/* Lettuce Go Eat ! */

position: absolute;
width: 287px;
height: 82px;
left: 18px;
top: 26px;

font-family: SirinStencil;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 52px;

color: #258D2F;



/* TextNLabel */

position: absolute;
width: 210px;
height: 81px;
left: 77px;
top: 276px;



/* Rectangle */

position: absolute;
width: 210px;
height: 52px;
left: 77px;
top: 305px;

background: #B8EA91;
border-radius: 10px;


/* ___________ */

position: absolute;
width: 179px;
height: 43px;
left: 93px;
top: 309px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
/* identical to box height */

color: #000000;



/* Username: */

position: absolute;
width: 115px;
height: 29px;
left: 90px;
top: 276px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
/* identical to box height */

color: #000000;



/* TextNLabel */

position: absolute;
width: 210px;
height: 81px;
left: 77px;
top: 369px;



/* Rectangle */

position: absolute;
width: 210px;
height: 52px;
left: 77px;
top: 398px;

background: #B8EA91;
border-radius: 10px;


/* ___________ */

position: absolute;
width: 179px;
height: 43px;
left: 93px;
top: 402px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
/* identical to box height */

color: #000000;



/* Password: */

position: absolute;
width: 112px;
height: 29px;
left: 90px;
top: 369px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
/* identical to box height */

color: #000000;

